streamlit
langchain
langchain-community
langchain-core
langchain-openai
langchain-huggingface
langchain-text-splitters
faiss-cpu
sentence-transformers
youtube-transcript-api
python-dotenv
groq
openai
torch
torchvision